*.a
*.aux
*.BAK
*.bak
*.depend*
*.dll
*.dvi
*.eps
*.fmt
*.gch
*.GIF
*.gif
*.GZ
*.gz
*.JPEG
*.jpeg
*.JPG
*.jpg
*.ld
*.log
*.o
*.obsolete
*.PDF
*.pdf
*.PNG
*.png
*.pro.user
*.ps
*.pyc
*.so
*.tgz
*.taz
*.toc
*.ZIP
*.zip
*autosave*
*~
.*history*
.bzr*
.nfs*
.\#*
\#*\#
__pycache__/
a.exe
a.out
build-*/
core*
RCS
SCCS

/project-0?/project-0?
/weekly-assignment-[01]?/weekly-assignment-[01]?
/project-0?/Makefile
/weekly-assignment-[01]?/Makefile
